@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply relative z-10 py-3 px-5 mt-5 overflow-hidden bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 text-white text-3xl font-semibold rounded shadow-lg focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75 after:absolute after:z-10 after:w-[105%] after:inset-0 after:bg-cyan-600 after:rounded  after:-translate-x-full after:transition-all after:duration-300 after:ease-in-out hover:after:translate-x-0;
  }
}

:root {
  text-align: center;
  font-family: "Tajawal", sans-serif;
  font-size: 16px;
  color: #fff;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

/* Hero Section BG Image */
.hero-section {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("/img/hero-image.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fancy {
  background-image: url("data:image/svg+xml,%3Csvg width='2250' height='900' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath fill='%2300A080' d='M0 0h2255v899H0z'/%3E%3Ccircle cx='366' cy='207' r='366' fill='%2300FDCF'/%3E%3Ccircle cx='1777.5' cy='318.5' r='477.5' fill='%2300FDCF'/%3E%3Ccircle cx='1215' cy='737' r='366' fill='%23008060'/%3E%3C/g%3E%3C/svg%3E%0A");
}

.wavy-text::after {
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M-17 30.5C-1 22 72-4 54 13 37.9 28.2-2.5 57.5 16 55.5s72-29 104-40' stroke='%2300FDCF' stroke-width='10'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h100v64H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
